<div class="container">
    <div class="pull-left wow fadeInUp" data-wow-delay=".3s" data-wow-duration="2s">
        <h1>Download Our Menu</h1>
    </div>
    <div class="pull-right wow fadeInUp" data-wow-delay=".7s" data-wow-duration="2s">
        <button class="btn btn-default">Download</button>
    </div>
</div>