
@{
    ViewBag.Title = "Detail";
}

<section id="section-12">
    <div class="clearfix"></div>
    <div class="breadcrumb">
        <div class="container">
            <h2 class="wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="2s">HOME</h2>
            <h1 class="wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="2s">Product Details</h1>
            <hr />
        </div>
    </div>

    <div class="product-detail">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-1">
                    <a href="">
                        <img src="../Images/img_bg_4.jpg" class="main" />
                    </a>
                    <a href="">
                        <img src="../Images/img_bg_4.jpg" class="other" />
                    </a>
                    <a href="">
                        <img src="../Images/img_bg_4.jpg" class="other" />
                    </a>
                    <a href="">
                        <img src="../Images/img_bg_4.jpg" class="other" />
                    </a>
                    <a href="">
                        <img src="../Images/img_bg_4.jpg" class="other" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-2">
                    <h2 class="text-left name">Chicken BBQ</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label>Size</label>
                            <select class="form-control">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                                <option>X-Large</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <label>Quantity</label>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-0 col-md-3 col-lg-3">
                        </div>
                    </div>
                    <a href="#" class="btn">Continue Shopping</a>
                    <a href="#" class="btn">Add to Cart</a>
                </div>
            </div>

            <h2 class="text-left head">You might also like</h2>
            <div class="similar">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="bg">
                            <a href="">
                                <img src="../Images/img_bg_4.jpg" />
                                <h5 class="text-center">Chicken B.B.Q</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="bg">
                            <a href="">
                                <img src="../Images/img_bg_4.jpg" />
                                <h5 class="text-center">Chicken B.B.Q</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="bg">
                            <a href="">
                                <img src="../Images/img_bg_4.jpg" />
                                <h5 class="text-center">Chicken B.B.Q</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="bg">
                            <a href="">
                                <img src="../Images/img_bg_4.jpg" />
                                <h5 class="text-center">Chicken B.B.Q</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<section id="section-6">
    @Html.Partial("DownloadContentPartial");
</section>